@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss" as m;

.login-page {
    position: relative;
    display: flex;
    background-color: v.$bg-login;


    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    &__header {
        display: flex;
        margin-bottom: 40px;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        width: 97px;
        height: 21px;
    }

    &__title {
        font-size: 1.75rem;
        font-weight: 800;
        opacity: 0.7;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__input-group input {
        width: 340px;
        height: 40px;
        margin-bottom: 2px;
        padding: 10px 20px 8px;
        background-color: v.$bg-primary ;
        border: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    &__password-group {
        position: relative;
    }

    &__toggle-icon {
        position: absolute;
        right: 10px;
        top: 8px;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
    }

    &__remember {
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        opacity: 0.7;
    }

    &__remember input {
        margin-right: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    &__forgot {
        text-decoration: none;
        color: black;
        opacity: 0.7;
        font-size: 0.875rem;

        &:hover {
            color: v.$accent;
        }
    }

    &__banner {
        width: 700px;
        height: 100vh;
        overflow: hidden;
    }

    &__btn-submit {
        @include m.button-style;
        font-size: 0.875rem;
        color: v.$text-second;
    }

    &__btn-register {
        @include m.button-style;
        background-color: v.$text-second;
        font-size: 0.875rem;
        text-align: center;
        text-decoration: none;

        &:hover {
            background-color: v.$text-second;
            filter: brightness(0.8);

        }
    }


    &__coppy-right {
        position: absolute;
        bottom: 0;
        margin-bottom: 20px;
        opacity: 0.7;
        font-size: 0.875rem;
    }


    @include m.tablet {

        .login-page {
            position: relative;
        }

        &__content {
            z-index: 2;
            background-color: rgba(221, 213, 213, 0.9); // Nền mờ
            height: 100vh;
        }

        &__banner {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
}