
@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss" as m;

.login-page{
    display: flex;
    background-color: v.$bg-login;


    &__content{
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    &__header{
        display: flex;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo{
        width: 97px;
        height: 21px;
    }

    &__title{
        font-size: 2.85rem; 
        font-weight: 800;
        opacity: 0.7;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__input-group input{
        width:  340px;
        height: 40px;
        margin-bottom: 2px ;
        padding: 10px 20px 8px ;
        background-color: v.$bg-primary ;
        border: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    &__actions {
        display: flex ;
        justify-content: space-between;
    }

    &__remember{
        font-size: 1.4rem;
        opacity: 0.7;
    }
    &__remember input {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    &__forgot a{
        text-decoration: none ;
        color: black ;
        opacity: 0.7 ;
        font-size: 1.4rem;
    }

    &__banner{
        width: 700px;
        height: 100vh;
        overflow: hidden ;
    }
    &__btn-submit{
        @include m.button-style;
        font-size: 1.4rem;
    }



    @include m.tablet{
        .login-page {
            position: relative;
        }

        &__content{
            height: 100vh;
            width: 100%;       // Form to ra
            background-color: rgba(221, 213, 213, 0.9); // Nền mờ
            border-radius: 8px;
            z-index: 2;
        }
        &__banner{
            position: absolute; // Phủ kín màn hình
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
}