@use "./variables.scss" as v;
// ==========================================================
// BREAKPOINT MIXINS (Sử dụng Mobile-First)
// ==========================================================

@mixin mobile {
    @media (min-width : 576px) {
        @content ;
    }
}

@mixin tablet {
    @media (min-width : 768px) {
        @content ;
    }
}

@mixin laptop {
    @media (min-width : 992px) {
        @content ;
    }
}

@mixin desktop {
    @media (min-width : 1200px) {
        @content ;
    }
}




// Định nghĩa button
@mixin button-style($bg-color : v.$accent , $text-color : v.$text-tertiary, $bg-hover : v.$accent-hover) {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    background-color: $bg-color;
    font-size: 1rem;
    color: $text-color;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3 ease;

    &:hover {
        background-color: $bg-hover;
    }
}


@mixin divider() {
    border-bottom: #000 3px solid;
    height: 1px;
    margin-bottom: 0px;
}