:root {
  // Nền và chữ
  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;
  --color-text-tertiary: #8b8b8b;
  --color-background-tertiary: #CCCCCC;
  --color-background-primary: #ffffff;
  --color-background-secondary: #4C4C4C;
  --color-background-tertiary: #000000;
  // Màu nhấn (Thương hiệu)
  --color-accent: #f15e2c; // Cam (Nút Mua Hàng, Giảm giá)
  --color-accent-hover: #e04a18; // Cam đậm hơn khi hover
  --color-carousel: #F1F1F1;
}

// Định nghĩa các CSS Variables cho Dark Mode
[data-theme='dark'] {}

$text-primary: var(--color-text-primary);
$text-second : var(--color-text-secondary);
$text-tertiary : var(--color-text-tertiary);
$bg-primary: var(--color-background-primary);
$bg-secondary: var(--color-background-secondary);
$bg-tertiary : var(--color-background-tertiary);

$accent: var(--color-accent);
$accent-hover: var(--color-accent-hover);
$carousel : var(--color-carousel);


$bg-login : #F0F0F0;