@use '../styles/variables.scss' as v;
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

// 1 rem = 16px     

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
}