@use './reset.scss';
@use '../styles/variables.scss' as v;
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
// Bằng:


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1. Thiết lập gốc: 1rem = 10px
}


body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-weight: 600; // Semi-Bold
}