@use "../../styles/variables.scss" as v;

.profile-sidebar {
    background-color: v.$bg-primary;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &__user {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 15px;
        border-bottom: 1px dashed v.$text-tertiary;
        margin-bottom: 10px;

        .profile-sidebar__avatar {
            width: 45px;
            height: 45px;
            background-color: #ddd;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }

        .profile-sidebar__info {
            display: flex;
            flex-direction: column;

            .account-label {
                font-size: 0.8rem;
                color: v.$text-tertiary;
            }
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;

        .menu-item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 0;
            color: v.$text-primary;
            text-decoration: none;
            font-size: 1rem;
            transition: color 0.2s;

            .icon {
                width: 24px;
                display: flex;
                justify-content: center;
                color: #999;
            }

            &:hover {
                color: v.$accent-hover; // Dùng màu cam của bạn

                .icon {
                    color: v.$accent-hover;
                }
            }

            &.active {
                background-color: #f0f0f0; // Highlight nhẹ nền
                color: v.$accent;
                font-weight: 500;
                padding-left: 10px; // Thụt vào một chút khi active
                border-radius: 4px;

                .icon {
                    color: v.$accent;
                }
            }
        }
    }
}