@use "../../styles/variables.scss" as v;

.profile-sidebar {
    background-color: #fff;
    width: 100%;

    &__user {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 10px;

        .profile-sidebar__avatar {
            width: 45px;
            height: 45px;
            background-color: #ddd;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }

        .profile-sidebar__info {
            display: flex;
            flex-direction: column;

            .account-label {
                font-size: 0.8rem;
                color: #888;
            }
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;

        .menu-item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 0;
            color: #333;
            text-decoration: none;
            font-size: 0.95rem;
            transition: color 0.2s;

            .icon {
                width: 24px;
                display: flex;
                justify-content: center;
                color: #999;
            }

            &:hover {
                color: v.$accent; // Dùng màu cam của bạn

                .icon {
                    color: v.$accent;
                }
            }

            &.active {
                background-color: #f0f0f0; // Highlight nhẹ nền
                color: v.$accent;
                font-weight: 500;
                padding-left: 10px; // Thụt vào một chút khi active
                border-radius: 4px;

                .icon {
                    color: v.$accent;
                }
            }
        }
    }
}