@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss" as m;

.header {
    display: block;

    &__utinity {
        background-color: v.$bg-tertiary;
        color: v.$text-second;
        display: flex;
        justify-content: flex-end;
        gap: 24px;
        padding: 8px 0;
    }

    &__utinity__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &:nth-child(5) {
            margin-right: 50px;
        }

        & span:hover {
            color: v.$accent;
        }
    }

    &__menu {
        height: 120px;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        align-items: center;
    }

    &__logo img {
        width: 160px;
        height: 40px;
    }

    &__category {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__category__items {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;

    }


    &__category__items span {
        text-transform: capitalize;
        font-weight: bold;
        font-size: 24px;
    }

    &__line {
        background-color: grey;
        width: 2px;
        height: 20px;
    }


    &__search {
        position: relative;
    }

    &__icon__search {
        position: absolute;
        top: 10px;
        left: 5px;
    }

    &__search input {
        width: 300px;
        font-size: 14px;
        padding: 12px 18px 12px 30px;

    }

    & .header__announcement-bar {
        // 1. Phông nền xám nhạt
        background-color: #f4f4f4;
        height: 50px;
        display: flex;
        align-items: center;

        .header__carousel {
            width: 100%;
            height: 100%;
            line-height: 38px; // Canh giữa theo chiều dọc
            font-size: 1.4rem;
            font-weight: 500;
            text-align: center;
            letter-spacing: 0.1rem;

            .swiper-slide {
                // Đảm bảo chữ được canh giữa tuyệt đối
                justify-content: center;
                align-items: center;
                display: flex;
            }

            // 3. Định kiểu cho nút điều hướng (Navigation Arrows)
            .swiper-button-prev,
            .swiper-button-next {
                color: v.$text-primary; // Màu đen
                top: 80%;
                // transform: translateY(-50%);

                // Giảm kích thước nút để phù hợp với thanh nhỏ
                width: 16px;
                height: 16px;

                &:after {
                    font-size: 1.2rem; // Kích thước icon mũi tên
                    font-weight: 800;
                }
            }

            .swiper-button-prev {
                left: 300px;
            }

            .swiper-button-next {
                right: 300px;
            }
        }
    }

    &__showCategory {
        z-index: 100;
        position: static;
        top: 128px;
        left: 0;
        width: 100%;
        background-color: v.$bg-secondary;
        height: 50vh;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    &__list__items {
        padding: 40px 0;
        text-align: center;
        font-size: 20px;
        text-transform: capitalize;
        color: white;

        & p:hover {
            color: v.$accent;
            cursor: pointer;
        }

        &::after {}
    }

    &__title__hover {
        text-align: center;

    }


    &__list__items img {
        width: 300px;
        height: 300px;
    }

    @include m.desktop {
        &__menu {
            flex-wrap: wrap;
            gap: 20px;
            margin-bottom: 20px;
            ;
        }

        &__category__items span {
            font-size: 16px;
        }




    }


    @include m.tablet {
        .header {
            display: flex;
            flex-direction: column;
        }
    }

}