@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss" as m;

.header {
    position: relative;

    &__utinity {
        background-color: v.$bg-tertiary;
        color: v.$text-second;
        display: flex;
        justify-content: flex-end;
        gap: 24px;
        padding: 8px 0;
    }

    &__utinity__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 0.875rem;

        &:nth-child(5) {
            margin-right: 50px;
        }

        & span:hover {
            color: v.$accent;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-around;
        // padding: 10px;
        align-items: center;
    }

    &__logo img {
        width: 160px;
        height: 40px;
    }

    &__category {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__category__items {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 40px 0px;

    }


    &__category__items span {
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1.6rem;
    }

    &__line {
        background-color: grey;
        width: 2px;
        height: 20px;
    }


    &__search {
        position: relative;
    }

    &__icon__search {
        position: absolute;
        top: 14px;
        left: 5px;
    }

    &__search input {
        width: 300px;
        font-size: 0.875rem;
        padding: 12px 18px 12px 30px;

    }

    &__announcement-bar {
        // 1. Phông nền xám nhạt
        background-color: #f4f4f4;
        height: 50px;
        display: flex;
        align-items: center;


    }

    &__carousel {
        width: 100%;
        height: 100%;
        line-height: 38px; // Canh giữa theo chiều dọc
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.1rem;

        .swiper-slide {
            // Đảm bảo chữ được canh giữa tuyệt đối
            justify-content: center;
            align-items: center;
            display: flex;
        }

        // 3. Định kiểu cho nút điều hướng (Navigation Arrows)
        .swiper-button-prev,
        .swiper-button-next {
            color: v.$text-primary; // Màu đen
            top: 80%;
            // transform: translateY(-50%);

            // Giảm kích thước nút để phù hợp với thanh nhỏ
            width: 16px;
            height: 16px;

            &:after {
                font-size: 1.2rem; // Kích thước icon mũi tên
                font-weight: 800;
            }
        }

        .swiper-button-prev {
            left: 300px;
        }

        .swiper-button-next {
            right: 300px;
        }
    }

    &__showCategory {
        z-index: 10;
        position: absolute;
        top: 140px;
        left: 0;
        width: 100%;
        background-color: v.$bg-secondary;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    &__list__items {
        padding: 40px 0;
        text-align: center;
        text-transform: capitalize;
        color: white;

        & p:hover {
            color: v.$accent;
            cursor: pointer;
        }
    }

    &__list__items img {
        cursor: pointer;
        width: 300px;
        height: 300px;
    }

    &__list__items p {
        margin-top: 10px;
        font-size: 1.2rem;
    }

    &__title__hover {
        text-align: center;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 20px;

    }

    &__showMaleAndFemale {
        z-index: 100;
        position: absolute;
        top: 140px;
        left: 0;
        width: 100%;
        background-color: v.$bg-secondary;
    }


    &__content {
        padding: 32px 10px;
        display: flex;
        justify-content: center;
        gap: 40px;
        color: white;
        line-height: 1.2rem;
    }

    &__content__items {
        width: 260px;
    }

    &__outstanding {
        border-right: 1px dashed gray;
    }

    &__content__items h2 {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    &__content__items h3 {
        margin-top: 20px;
        font-size: 1.25rem;
    }

    &__content__items p {
        color: wheat;
        cursor: pointer;
        font-size: 15px;
    }


    @include m.desktop {
        &__utinity__item span {
            display: none;
        }

        &__menu {
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        &__line {
            display: none;
        }

        &__carousel {
            font-size: 0.875rem;

            .swiper-button-prev,
            .swiper-button-next {
                width: 10px;
                height: 10px;
            }

            .swiper-button-prev {
                left: 100px;
            }

            .swiper-button-next {
                right: 100px;
            }
        }

        &__list {
            flex-direction: flex;
            flex-wrap: wrap;
            align-items: start;
            padding: 40px 0 20px 0;
        }

        &__list__items {
            width: 40%;
            margin: auto;
            padding: 0;
            gap: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            & p:hover {
                color: v.$accent-hover;
            }
        }


        &__list__items img {
            width: 120px;
            height: auto;
        }

        &__title__hover {
            font-size: 1rem;
            padding: 10px 0;
        }

    }

    @include m.tablet {
        &__menu {
            margin: 12px 12px;
        }


    }
}